@media screen  and (max-width: 600px){
    #showcase{
        width: auto;
        height: auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        }
    
    
#container_1{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
   justify-content: space-evenly;
}

.container_2{
    height: fit-content;
} 

.all p{
color: hsl(231, 7%, 60%);
width: 300px;
font-size: 20px;
}

.icon{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon p{
    color: hsl(231, 7%, 60%);
    width: 300px;
    font-size: 15px;
}

.pics img{
    width: fit-content;

}

.email h3{
    font-size: 30px;
}


.icon{
    display: flex;
}

.email input{
    text-align:start;
    height: 40px;
    font-size: 20px;
    width: 220px;
    padding: 10px;
    margin-left: 10px;
}

.btn{
    background-color:  hsl(234, 29%, 20%);
    border-radius: 5px;
    border: none;
    width: 250px;
    margin-left: 10px;
}
}
