@media screen  and (max-width: 600px){
    #showcase{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color:  hsl(234, 29%, 20%);
    }
    
    
#container_1{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-flow: column-reverse;
    height: auto;
    border-radius: 20px;
    align-items: center;
    background-color: white;
   justify-content: space-evenly;
}

.all p{
margin-left: 10px;
width: 400px;
font-size: 20px;
}

.icon p{
    width: 350px;
    font-size: 15px;
}

.pics img{
    width: 100%;
    height: auto;
}

.email h3{
    font-size: 30px;
    margin-left: 10px;
}


.icon{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.email input{
    text-align:start;
    height: 40px;
    font-size: 20px;
    width: 250px;
    padding: 10px;
    margin-left: 10px;
}

.button input{
    background-color:  hsl(234, 29%, 20%);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
}
