*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:  hsl(234, 29%, 20%);
}


#container_1{
    display: flex;
    width: 750px;
    border-radius: 20px;
    height: 500px;
    align-items: center;
    background-color: white;
   justify-content: space-evenly;
}

/* .container_2{
    height: fit-content;
} */

.all h1{
    color:  hsl(235, 18%, 26%);
    font-size: 40px;
    margin: 5px;
    font-weight: 700px;
    font-style: normal;
}

.all p{
    width: 300px;
}

 .icon{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.icon svg{
    margin: 5px;
    width: 20px;
}

.icon p{
    font-style: normal;
}

.pics img{
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.email input{
    width: 285px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.btn{
    background-color:  hsl(235, 18%, 26%);
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}
